@import "../core/custom-media.css";

.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  max-width: var(--max-content-width);
  margin: 0 auto;
  width: 100%;
}
