@import "../core/custom-media.css";

.aboutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-items: start;
  margin: 108px 0;
}

@media (--mobile-tablet) {
  .aboutContainer {
    grid-template-columns: 1fr;
    gap: 48px;
    margin: 72px 0;
  }
}

@media (--mobile) {
  .aboutContainer {
    gap: 36px;
    margin: 48px 0;
  }
}

.aboutImage {
  width: 100%;
  aspect-ratio: 6 / 7;
  background-color: var(--color-accent);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 48px;
}

@media (--mobile-tablet) {
  .aboutContent {
    padding-top: 0;
  }
}

.aboutHeading {
  margin: 0;
}

.aboutText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
