@import "../core/custom-media.css";

.header {
  z-index: 100;
  background: var(--color-primary);
  transition: background 0.2s ease;
  width: 100%;
  padding: 24px 48px;
}

@media (--mobile-tablet) {
  .header {
    padding: 24px 32px;
  }
}

@media (--mobile) {
  .header {
    padding: 16px 24px;
  }
}

.headerContent {
  max-width: var(--max-content-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 48px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 48px;
  height: 48px;
  display: block;
}

@media (--mobile) {
  .logoImage {
    width: 40px;
    height: 40px;
  }
}

.socialButtons {
  display: flex;
  align-items: center;
  gap: 32px;
}

@media (--mobile) {
  .socialButtons {
    gap: 16px;
  }
}

.socialButton {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.socialButton:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
