@import "../core/custom-media.css";

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0 48px 0;
}

@media (--mobile) {
  .heroContainer {
    padding: 32px 0;
  }
}

.heroImage {
  width: 100%;
  aspect-ratio: 1300 / 640;
  background-color: var(--color-accent);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 64px;
}

@media (--mobile-tablet) {
  .heroImage {
    margin-bottom: 48px;
  }
}

.heroContent {
  text-align: center;
  max-width: 900px;
}

.heroHeading {
  margin-bottom: 48px;
}

@media (--mobile-tablet) {
  .heroHeading {
    margin-bottom: 36px;
  }
}

@media (--mobile) {
  .heroHeading {
    margin-bottom: 32px;
  }
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
